@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

/* reset  */

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

.clearfix:after{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix{
    display: inline-block;
}

html[xmlns] .clearfix{
    display: block;
}

* html .clearfix{
    height: 1%;
}

ul, li{
    padding: 0;
    margin: 0;
    list-style: none;
}

header,
nav,
section,
article,
aside,
footer,
hgroup{
    display: block;
}

html,
body{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    background-color: #fff;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a{
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin-top: 0px;
    margin-bottom: 0px;
}

ul{
    margin-bottom: 0px;
}

p{
    font-size: 14px;
    line-height: 25px;
    color: #777;
}
